{% extends "bootstrap_5_layout.html" %}
{% set active_page = "convert" %}

{% block content %}

    <h1>Welcome to the Playlist Converter</h1>
    <p></p>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Give Your New Playlist a Name</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Taj on AUX">
      </div>

     <p>Upload Your Apple Music Playlist as a .XML File</p>

    <div class="input-group mb-3">
        <input type="file" class="form-control" id="inputGroupFile02">
        <label class="input-group-text" for="inputGroupFile02">Upload</label>
      </div>

    <!-- SEE: https://getbootstrap.com/docs/5.0/components/buttons/ -->
    <button type="button" class="btn btn-dark">Convert My Playlist</button>


{% endblock %}