{% extends "bootstrap_5_layout.html" %}
{% set active_page = "home" %}


{% block content %}

    <h1>Welcome! You have come to the right place to convert your Apple Music playlist to a Spotify playlist.</h1>
    <p></p>
    <p>Do all of your friends have Spotify, but you are stuck with Apple Music?</p>
    <p>Or maybe do you have one friend with a great playlist...but it's on Apple Music?</p>
    <p>You can now switch over to Spotify without worrying about losing all your playlists.</p>
    <p>You can now listen to your friend's Apple Music playlist after a quick conversion to Spotify.</p>
    <p>Just make sure you have the Apple Music playlist accesible as a .XML file and navigate over to the "Convert" tab.</p>

    <!-- SEE: https://getbootstrap.com/docs/5.2/components/carousel/ -->
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://miro.medium.com/max/1400/1*81dcjkKHeSHDSwaGn-PSkw.jpeg" class="d-block w-100" alt="...">
            </div>

            <div class="carousel-item">
                <img src="https://i.pinimg.com/originals/43/42/22/434222ff5e7442e0a83f66205c38ed08.jpg" class="d-block w-100" alt="...">
            </div>

            <div class="carousel-item">
                <img src="https://snworksceo.imgix.net/dpn-34s/d1c51649-cd92-4a82-859e-dba7687262b2.sized-1000x1000.jpeg?w=1000" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>


{% endblock %}