{% extends "bootstrap_5_layout.html" %}
{% set active_page = "home" %}


{% block content %}

    <h1>Conversion Successful!</h1>
    <p></p>
    <p>Do all of your friends have Spotify, but you are stuck with Apple Music? Or maybe do you have one friend with a great playlist...but
        it's on Apple Music? You can now switch over to Spotify without worrying about losing all your playlists. You can now listen to
        your friend's Apple Music playlist after a quick conversion to Spotify.</p>
    <p>Just make sure to have your Apple Music playlist accesible as a .XML file and navigate over to the "Convert" tab.</p>

    <p> Username: {{ username }}</p>

{% endblock %}